# Python
.venv/
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# Cloud SQL
cloud-sql-proxy.exe

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*